<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} {% for movie in movies %}
    <h2>{{ movie.title }}</h2>
    
  {% endfor %} {% endcomment %}
  <iframe width="600" height="336" src="https://www.erdcloud.com/p/AcftTPHBxcTqMiMki" frameborder="0" allowfullscreen></iframe>
  {% for genre in genre_ids %}
    <p>{{ genre }}</p>



  {% endfor %}
  <hr>
</body>
</html>